@model OpenPWCL.Models.TaskInitViewModel

<div data-task-id="@Model.TaskId"
     data-task-name="@Model.TaskName"
     data-task-uri="@Model.NewTaskUri"
     data-task-return-uri="@Model.ReturnUri"></div>